@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
#logo,
h1,
h2 {
  font-family: "Cormorant Garamond", serif;
}
nav{
  
  display: flex;
}
#nav_one{
  display: flex;
  flex-basis: 20%;
  padding: 10px;
  justify-content: center;


}
#nav_two{
  display: flex;
  flex-basis: 60%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
a{
  text-decoration: none;
}
#nav_two>a::after{
  content: "";
  position: absolute;
  border: 0;
  left: 0;
  width: 0px;
  border-bottom: 2px solid red;
  transition: width 0.5s;
}

#nav_two>a:hover::after{
  width: 100px;
}

#nav_three{
  display: flex;
  flex-basis: 20%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#nav_three>i{
  font-size: 30px;
}

#cart{
position: relative;
height: 20px;
background-color: white;
border: none;

}

#cart_quantity{
  position: absolute;
  font-size: 13px;
  height: 16px;
  width: 16px;
  right: 170px;
 top: 9px;
 background-color: black;
 color: white;
 display: flex;
justify-content: center;
align-items: center;
border-radius: 50px;
font-weight: 600;
}

#cart_price{
  font-size: 20px;
  font-weight: 600;
}
#product_first_page{
  height: 50vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#product_first_page>h1{
  font-size: 80px;
}
#product_first_page>p{
  font-size: 18px;
}
#product_second_page{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
#product_second_page>input{
  height: 38px;
  width: 300px;
  padding-left: 15px;
  
  
}
.product_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
margin-top: 20px;
margin-bottom: 48px;
  
 
 
}
#sunglasses_container>h1{
 
  margin-left: 240px;
  padding-left: 20px;
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.07)
}
.product_card{
  font-size: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card_details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
  padding: 0px 30px;
}
.card_details1{
  display: flex;
  gap: 10px;
  padding: 0px 20px;
}
.minus_btn,.card_quantity,.plus_btn{
 font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.product_card>img{
  height: 600px;
  width: 590px;
}
.card_details{
  display: flex;
  gap: 10px;
  padding: 0px 20px;
}



#fourth_page{
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #efefef;

}
#info_container{
  flex-basis: 85%;
  display: flex;
justify-content: space-evenly;
align-items: center;
}
#info1,
#info2,
#info3,
#info4{
  height: 100%;
  flex-basis: 25%;
}
#info1,
#info2,
#info3{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
padding: 0px 10px;
}
#info1 > h1,
#info2 > h1,
#info3 > h1,
#info4 > h1
#info4_subscribe > h1{
  font-size: 50px;
  text-align: center;
}
#info1 > h3{
  font-weight: 400;
}
#info1>p{
  text-align: center;
  font-size: 30px;
}
#info2,
#info3{
  gap: 30px;

}
ul{
  width: 100%;
  padding-left: 80px;
}
ul > li{
  font-size: 20px;
}
#info4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#input_container{
  width: 100%;
}
#input_container>input{
  height: 40px;
  width: 200px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.647);
}
  #input_container>button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
  }
  #icon_container{
   
    width: 100px;
    display: flex;
    justify-content: center;
   align-items: center;
   padding: 15px 0px;
   gap: 20px;
  }
  .icon{
    font-size: 25px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
  }
  footer{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solod rgba(0, 0, 0, 0.201);
    font-size: 22px;
  }

  /* SIDEBAR */
  #sidebar_container{
    background-color: white;
    height: 100vh;
    width: 350px;
    position: fixed;
    right: -350px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    

  }
  /* SIDEBAR1 */
  #sidebar1{
    flex-basis: 10%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
   
    border-bottom: 2px solid rgba(0, 0, 0, 0.174);
  }
  #sidebar1>h1{
    font-size: 45px;
  }
  #sidebar1>p>i{
font-size: 40px;
  }
  #sidebar2>p{
   
  }
  #sidebar2 {
    
    flex-basis: 80%;

  }

  #sidebar3{
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #sidebar3>button{
    width: 90%;
    background-color: royalblue;
    color: white;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 30px;
  }

  /* inside  sidebar// */
  .cart_item1{
    display: flex ;
    margin: 10px 0px;
    padding: 10px;
  }

  .cart_item2{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  }
  
  .cart_item2_btns{
  display: flex;
  width: 100%;
 justify-content: space-evenly;
  align-items: center;
  
  }





